/* PC */
@media screen and (min-width: 1921px) and (orientation: landscape) {
    body, html {
        font-size: 20px;
    }
}
@media screen and (min-width: 1601px) and (max-width: 1920px) and (orientation: landscape) {
    body, html {
        font-size: 16px;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1280px) and (orientation: landscape) {
    body, html {
        font-size: 16px;
    }
}
/* Tablet */
@media screen and (min-width: 426px) and (max-width: 1024px) and (max-aspect-ratio: 4 / 3) {
    body, html {
        font-size: 16px;
    }
}
/* Mobile */
@media screen and (min-width: 0) and (max-width: 425px) and (max-aspect-ratio: 4 / 3) {
    body, html {
        font-size: 12px;
    }
}

body, html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    height: 100%;
}
#tooltip-root {
    position: absolute;
    top: 0;
    left: 0;
}

* {
    box-sizing: border-box;
}